/* AJUSTES GERAIS */

body {
    font-family: 'Roboto', sans-serif;
    background-color: #FAFAFA;
}

.escondido,
.semQuizz.escondido,
.container1.escondido,
.container2.escondido,
.container3.escondido,
.container4.escondido {
    display: none;
}

.esbranquicado{
    background-color: rgba(255,255,255,0.7);
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
}

.topo {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EC362D;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 38px;
    box-shadow: 0 4px 4px rgba(100, 100, 100, 0.5);
    height: 70px;
}

.container1,
.container2,
.container3, 
.container4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 70px;
}


h1 { /* Antes:",h2,h3,h4" Não poderíamos colocar essas configs dentro das hierarquias? Minhas outras hs não seguem nenhuma dessas configs*/
    width: 100%;
    font-size: 20px;
    color: #000000;
    font-weight: bold;
    text-align: left;
    margin-top: 40px;
    margin-bottom:10px;    
}

/*  AJUSTES GERAIS   */



/*   TELA 1 - Lista dos Quizzes   */

.container1>div,
.container1> h1 {
    width: 66%;
}

.semQuizz {
    height: 180px;
    margin-bottom:40px;
    border: dashed 2px #D4D4D4;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.semQuizz p {
    color: #B9B9B9;
    font-size: 20px;
    line-height: 24px;
    width: 220px;
    text-align: center;
    margin: 20px;
}

.semQuizz button {
    width: 150px;
    height: 40px;
    font-size: 20px;
    color: #EC362D;
    background-color: #FAFAFA;
    border-radius: 50px;
    border: dashed 2px #EC362D;
}
.comQuizz > div{
    display:flex;
    align-items: center;
    margin-bottom: 10px;
}
.comQuizz ion-icon{
    margin:0 16px;
    font-size: 30px;
    color:#EC362D;
}
.comQuizz h1{
    margin:0;
    width:auto;
}
.ListaQuizzes,
.ListaQuizzesUser {
    display: flex;
    flex-wrap: wrap;
}
.quizz,
.quizz img,
.quizz h2{
    width: 310px;
    height: 180px;
    box-sizing: border-box;
    overflow: hidden;
}

.quizz{
    position: relative;
    margin:0 16px 16px 0;  
}
.quizz img{
    border-radius: 4px;
}

.quizz h2 {
    background: linear-gradient(transparent 40%, #000000 95%);
    border-radius: 4px;
    color: #FFFFFF;
    font-size: 20px;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: flex-end;
    padding: 15px;
}

/*  TELA 1 - Lista dos Quizzes  */



/*  TELA 2 - Abrindo um Quizz  */
.container2 {
    margin: 0;
}

.img-titulo {
    width: 100%;
    height: 228px;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
}

.img-titulo img {
    width: 100%;
}

.img-titulo h2 {
    width: 100%;
    height: 228px;
    position: absolute;
    top: 0;
    left: 0;
    color: #FFFFFF;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.6);
    overflow: hidden;
}
.pergunta, .resultadoQuizz {
    background-color: #FFFFFF;
    width: 60%;
    box-shadow: 0 0 5px rgba(150, 150, 150, 0.1);
    padding: 30px;
    box-sizing: border-box;
    margin-top: 50px;

}
.resultadoQuizz{
    padding:15px;
    margin-bottom: 60px;
}

.pergunta span, .resultadoQuizz span {
    width:100%;
    height: 138px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    box-sizing: border-box;
}
.pergunta h3, .resultadoQuizz h3 {
    width:100%;
    text-align: center;
    color: #FFFFFF;
    font-size: 23px;
    font-weight: bold;
    word-wrap: break-word;
}
.pergunta>div {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.resposta{
    margin-top:20px;
    width:46%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position:relative;
    overflow: hidden;
}
.resposta img {
    height:180px;
}

.resposta p {
    font-size: 20px;
    font-weight: bold;
    color: #000000;
    word-wrap: break-word;
    width: 100%;
    line-height: 24px;
    margin: 15px 0;
}
.resposta .selectCerto{
    color:#009C22;
}
.resposta .selectErrado{
    color:#FF0B0B;
}

.resultadoQuizz span{
    height:100px;
    margin-bottom: 20px;
}

.resultadoQuizz >div{
    display: flex;
    justify-content: space-between;
}
.resultadoQuizz img{
    height:280px;
    overflow: hidden;
}
.resultadoQuizz p{
    font-size: 20px;
    font-weight: bold;
    color:#484848;
    width:48%;
    margin-left:20px;
    word-wrap: break-word;
}
.container2 button{
    width:260px;
}
.container2 .home, .container4 .home{
    background-color: transparent;
    border:none;
    color: #818181;
    margin:15px 0 100px 0;
}

/*  TELA 2 - Abrindo um Quizz  */





/*  TELA 3 - Criando um Quizz  */
  
.container3 > h1, .container4 > h1 {
    margin-top: 0;
    font-size: 24px;
    text-align: center;
}

.questions  h1,
.container4 h1{
    margin: 30px 0 10px 0;
}

.container3>div{
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    width: 600px;
    min-height: 256px;
    box-sizing: border-box;
    margin:30px;
    box-shadow: 0 0 4px 2px rgba(150, 150, 150, 0.1);
}

.question,
.level {
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    width: 600px;
    box-sizing: border-box;
    margin:50px 0;
    box-shadow: 0 0 4px 2px rgba(150, 150, 150, 0.1);
}

.editForm {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.editForm > ion-icon {
    font-size: 20px;
}

.editForm h1{
    margin: 15px 0;
}

.container3 input,
.container4 input {
    width: 100%;
    height: 46px;
    font-size: 20px;
    color:#BABABA;
    text-indent: 24px;
    font-style: italic;
    font-family: 'Roboto',sans-serif;
    margin:5px 0;
    border:solid 1px #D1D1D1;
    border-radius: 4px;
}

.container2 button,
.container3 button,
.container4 button{
    background-color: #EC362D;
    font-size: 20px;
    color: #FFF5F4;
    text-align: center;
    height:54px;
    border-radius: 14px;
    border:none;
}

.container3 button,
.container4 button{
width:370px;
}
.container4 .loadMyQuizz{
    width:220px;
}
.container2 button,
.container3 button{
    margin-top:50px;
}

.container4 .quizz{
    width:500px;
    height:270px;
    margin:50px 0;
}
.container4 .quizz img,.container4 .quizz h2{
    width:500px;
    height:270px;
}
/*  TELA 3 - Criando um Quizz  */





@media (max-width:1100px) {
    h1 {
        margin-top: 40px;
    }

    .container1,
    .container3 {
        margin-top: 40px;
    }

    .container1>div, 
    .container1 >h1 {
        width: 90%;
    }
    .comQuizz>div:first-child {
        justify-content: space-between;
    }
    .pergunta, .resultadoQuizz{
        width:100%;
        margin-top: 30px;
    }
    .img-titulo h2{
        font-size:20px;
    }
    .img-titulo,.img-titulo h2{
        height:140px;
    }
    .pergunta h3, .resultadoQuizz h3{
        height:90px;
        font-size: 20px;
    }
    .resposta img{
        height:110px;
    }
    .resposta p{
        font-size: 13px;
    }
    .resultadoQuizz p{
        font-size: 17px;
    }
    .container2 button{
        font-size: 18px;
    }
    .container3>div {
        width: 100%;
    }
    .container3 h1{
        font-size: 20px;
    }
    .container3 button{
        font-size:18px;
        margin-top: 0;
    }
    .questions{
        width:100%;
    }
    .question{
        width:100%;
    }
    .container4 .quizz,.container4 .quizz img,.container4 .quizz h2{
        width: 310px;
        height: 180px;
    }
    .container4 .quizz{
        margin:24px 0;
    }
}